body {
    font-family: 'Roboto' !important;
}

.david_tm_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#send_message{
    width: 70%;
    text-align: center;
}

.cavani_tm_about .biography .right {
    width: 100%;
}

.service_list .list ul{
    padding-left: 25px !important;

}

.service_list .list ul li {
    list-style-type: disc;
    padding: 0px !important;
}
.cavani_progress{
    padding-left: 20px;
}

.languageContent{
    margin-top: 50px !important;
    padding-left: 20px;
}


.languageContent ul li{
    margin-bottom: 20px;
}